includes:
	# @see https://github.com/phpstan/phpstan-src/blob/b9f62d63f2deaa0a5e97f51073e41a422c48aa01/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 5
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- include/
		- src/
	ignoreErrors:
		- '#^PHPDoc tag @throws with type AmpProject\\Exception\\FailedRemoteRequest is not subtype of Throwable$#'
		- '#^Parameter \#1 (\$exception_handler|\$callback) of function set_exception_handler expects#'

		# @see https://github.com/phpstan/phpstan/issues/5655
		- '#^PHPDoc tag @var for constant (?:.*) with type array(?:.*) is not subtype of value array(?:.*)\.$#'
	excludePaths:
		analyse:
			- src/FakeEnum.php
			- src/Validator/Context.php
			- src/Validator/ExtensionsContext.php
			- src/Validator/ValidateTagResult.php
			- src/Validator/ValidationErrorCollection.php
			- src/Validator/ValidationHandler.php
			- src/Validator/ValidatorRules.php
