<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="vendor/autoload.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">./</directory>
		</include>
		<exclude>
			<directory suffix=".php">bin</directory>
			<directory suffix=".php">resources</directory>
			<directory suffix=".php">tests</directory>
			<directory suffix=".php">vendor</directory>
		</exclude>
	</coverage>
	<testsuites>
		<!-- Default test suite to run all tests -->
		<testsuite name="default">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
